body,ul,li,form,input,textarea,select,option,ol,dl,dt,dd,p,pre{
	margin:0;
	padding:0;
	list-style: none;
	border:none;
	outline: none;
}
a{
	text-decoration: none;
}
img{
	border:0;
}
*{
	font-family: Helvetica;
	font-size: 14px;
	box-sizing:border-box;
}
[class*=col]{
	float: left;
}
.left{
	padding-left: 10px;
}
.col1{
	width: 8.333333%
}
.col2{
	width: 16.666667%
}
.col3{
	width: 25%;
}
.col4{
	width: 33.333333%
}
.col5{
	width: 49%
}
.col6{
	width: 50%
}
.col7{
	width: 58.333333%
}
.col8{
	width: 66.666667%
}

.col9{
	width: 75%
}
.col10{
	width: 83.333333%
}
.col11{
	width: 91.666667%
}
.col12{
	width: 100%
}
header{
	width: 100%;
	height: 40px;
	background: #010101;
}
.xinhao{
	width: 40px;
	height: 7px;
	float: left;
	margin-left: 2%;
	margin-top: 4.5%;
}
.xinhao div{
	width: 7px;
	height: 7px;
	margin-right: 1px;
	float: left;
	background: #fff;
	border-radius: 50%;
}
.zgyd{
	line-height: 40px;
	color: #fff;
	margin-left: 1%;
}
.iconfont{
	line-height: 40px;
	color: #fff;
	margin-left: 1%;
}
.time{
	line-height: 40px;
	color: #fff;
	margin-left: 10%;
}
.zi{
	float: right;
	margin-right: 2%;
	font-size: 24px;
}
.dl{
	line-height: 40px;
	color: #fff;
	margin-left: 1%;
	float: right;
}
body{
	background: #EEEEEE;
}
.kb{
	width: 100%;
	height: 50px;
	background: #F9F9F7;
}






section{
	margin-top: 20px;
	width: 100%;
	height: auto;
/*	background: #fff;*/
	padding: 2%;
	overflow: hidden;
}
.border{
	margin-right:2%;
	background: #fff;
	margin-bottom: 20px;
}
.border:nth-child(2n){
	margin-right:0;
}
.tu{
	margin-top: 10px;
	width: 100%;
	height: 50px;
	position: relative;

}
.tu a{
	position: absolute;
	display: block;
	border-radius: 50%;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	height: 50px;
	width: 50px;
	overflow: hidden;
}
img{
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	height: 100%;
}
.nr{
	text-overflow:ellipsis;
	/*white-space: nowrap;*/
	-webkit-line-clamp:2;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	overflow: hidden;
	line-height: 20px;
	width: 80%;
	margin:10px auto;
	/*background: #83878A;*/
	font-size: 14px;
	height:36px;
}
.nr1{
	width: 40%;
	text-align: center;
	margin:0 auto;
	line-height: 12px;
	font-size: 14px;
	height: 12px;
	margin-top: 10px;
	overflow: hidden;
}

